<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>UMES -MOVIL 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main class="inicio">
    <div>
      <p class="subtitulo">
        Universidad Mesoamericana
      </p>

      <h1>UMES -MOVIL 2</h1>

      <p>
        Aplicación demostrativa para consultar el
        clima actual de diferentes países.
      </p>

      <ion-button
        expand="block"
        routerLink="/clima"
      >
        Consultar clima
      </ion-button>

      <ion-button expand="block" routerLink="/climaCamara">
        Registrar imagen del clima
      </ion-button>
    </div>
  </main>
</ion-content>